<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCaCgG0Up-EOUsUjWQ3Sct1KYzdRM5BnPI</string>
	<key>GCM_SENDER_ID</key>
	<string>650787798503</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.esther.Office-Space-Locator</string>
	<key>PROJECT_ID</key>
	<string>officespacelocator</string>
	<key>STORAGE_BUCKET</key>
	<string>officespacelocator.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:650787798503:ios:2768d3bd8edb9680601142</string>
</dict>
</plist>